.bg-light{
    background-color:cornflowerblue !important;
}

.navbar{
    display:flex;
    justify-content:space-between;
    text-align: center;
}


.navbar-brand{
   color: white;
}

.bi {
    font-size:xx-large;
    color: white;
}

#toptextmenu{
    background-color:cornflowerblue;
    background-size: 50%;;
    color: white;
}

#leftmenu{
    position: fixed;
    left: 0;
}